// MAIN SCSS STYLE SITE

// IMPORT VARIABLES
@use "../scss/abstract/variables";

// IMPORT HEADER STYLE
@use "./sections/header";

// IMPORT HOME_PAGE STYLE
@use "../scss/sections/homePage";
// IMPORT ABOUT_PAGE STYLE


// IMPORT PROJECT_PAGE STYLE


// IMPORT CONTACT_PAGE STYLE


// BUTTON COMPONENT


// FOOTER STYLE


// CV PAGE IMPORT


// SOCILA LSTYLE

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 16px 8px 8px 8px;
    font-family: variables.$fontFamily;
}
.flex_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue__color {
    color: variables.$colorBlue;
    font-weight: 500;
}

